body{
    margin: 0;
}

.page{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;    
}

.top{
    display: flex;
    margin: 0px;
    padding-left: 150px;
    padding-right: 150px; 
    flex-direction: column;
    background-color: #1F2937;
}

.header{
    display: flex;
    margin-top: 24px;
    margin-bottom: 120px;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    display: flex;
    width: 50px;
    justify-content: flex-start;
}

.links{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 0;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 48px;
}

a{
    text-decoration: none;
    color: white;
}

.desc{
    display: flex;
    margin: 120px 0px;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
}

.desc img{
    display: flex;
    margin: 0;
    padding: 0;
    width: 800px;
}

.description{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0;
    padding: 0;
    padding-right: 36px;
}

.description h2{
    color: #F9FAF8;
    font-size: 60px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.note{
    color: #E5E7EB;
    font-size: 28px;
    margin: 0;
    padding: 12px 0;
}

.description button, .signup button{
    color: white;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    margin: 0;
    padding: 5px;
    border-radius: 7px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 24px;
    flex: 0 0;
}

.registration{
    display: flex;
    min-width: 300px;
    background-color: #3882F6;
    color: white;
    margin: 150px 100px;
    padding: 75px;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
}

.signup button{
    border-color: white;
}

.request{
    margin-right: 24px;
}

.reghead{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.regcontent{
    font-size: 18px;
    margin: 12px 0;
    margin-bottom: 0;
    padding: 0;
}

.quote{
    display: flex;
    color: #1F2937;
    flex-direction: column;
    background-color: #E5E7EB;
    margin: 0;
    padding: 150px 300px;
    justify-content: center;
}

.words{
    font-size: 36px;
    font-style: italic;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.coiner{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 200px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}

.subimg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex: 1 0;
    flex-wrap: wrap;
}

.subhead{
    margin: 50px;
    padding: 0;
    font-weight: bold;
    color: #1F2937;
    font-size: 36px;
}

img.book{
    height: 300px;
    width: 200px;
}

.grp1, .grp2, .grp3, .grp4{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 12px;
}

.name{
    text-align: center;
    font-size: 18px;
}